    <h1>Welcome to example.com, <%= @user.email %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.email %>.<br>
      Last sign in at: <%= @user.last_sign_in_at %>.
    </p>
    <p>
      To login to the site, just follow this link: 
      <center data-parsed=""><a href="<%= @url %>" align="center" class="text-center">登陆</a></center>.
    </p>
    <p>Thanks for joining and have a great day!</p>