// Custom bootstrap variables must be set or import before bootstrap itself.
@import "bootstrap";

a.btn:visited {
  color: white !important;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }